/* Importa uma fonte estilo terminal pixelado */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', 'Courier New', Courier, monospace;
}

body {
    background-color: #000000;
    color: #00ff00; /* Verde clássico de monitor fósforo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #000000;
    border: 2px solid #00ff00;
    padding: 25px;
    width: 100%;
    max-width: 550px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.result-container {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    border: 1px dashed #00ff00;
}

#password-display {
    font-size: 1.5rem;
    word-break: break-all;
    color: #ffffff; /* Senha em branco para destacar no terminal */
}

#copy-btn {
    background-color: #00ff00;
    color: #000000;
    border
